PORT=5000
NODE_ENV=production
MONGO_URI=mongodb+srv://alrayahomes:dd62229bf6187@cluster0.txri053.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=30d
CLOUDINARY_CLOUD_NAME=dg4fn9van
CLOUDINARY_API_KEY=238245342173942
CLOUDINARY_API_SECRET=gIR5WIj8irIhkIcsk9ldKi77xwU
CLIENT_URL=https://alrayahomes.com







